<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">
<module configVersion="1.0">
	
	<!-- Patient Notes Properties -->
	<id>patientnotes</id> <!-- The unique internal id used in urls -->
	<name>Patient Notes</name> <!-- Longer descriptive name used on Manage Modules page -->
	<version>1.0</version>
	<package>org.openmrs.module.@MODULE_ID@</package> <!-- Distinct package name for this module.  MODULE_ID refrences "id" element from above -->
	<author>djazayeri and bwolfe</author> <!-- Custom string representation of the author  -->
	<description>
		
	</description>
	<activator>@MODULE_PACKAGE@.PatientNotesModuleActivator</activator> <!-- Class called when the module is installed into openmrs and when the module is turned off -->
	<!-- /Patient Notes Properties -->
	
	<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class>@MODULE_PACKAGE@.extension.html.PatientNotesDashboardTabExt</class>
	</extension>
	
	<mappingFiles> <!-- The hibernate mapping file stored in /metadata/Note.hbm.xml and in the omod when packaged -->
		Note.hbm.xml
	</mappingFiles>
	
</module>
